
    <div class="d-flex h-100 pt-5 pb-5 bg-dark ">
      <div class="container align-self-center p-container-m"data-aos="fade-down"
     data-aos-easing="linear" data-aos-duration="2500">
     <div class=" info-content bg-black text-light text-center p-5 rounded mx-auto mt-5 w-75 mb-5">
      <h2 class="display-4 fw-bold">Contacto</h2>
      <p class="fw-bold">Informate  con  nuestros de nuestras ofertas y novedades directamente en email.</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Correo electronico" >
        <button class="btn btn-primary" class="button" id="button-addon2">Enviar</button>
      </div>
     </div>
   <div class="row mb-3" >
    <div class="col-lg-3 col-sm-6 my-4 my-text text-light">
        <h5 class="fw-bold mb-3">Muebles</h5>
      </div>
    <div class="col-lg-3 col-sm-6 my-4 my-text text-light">
        <h5 class=" fw-bold mb-3">Categorias</h5>
        <ul class="list-unstyled">
            <li class="mb-3"> <a href="" class="text-light text-decoration-none">Productos</a> </li>
            <li class="mb-3"> <a href="" class="text-light text-decoration-none">Quienes somos</a> </li>
            <li class="mb-3"> <a href="" class="text-light text-decoration-none">Galeria</a></li>
        </ul>
    </div>
   <div class="col-lg-3 col-sm-6 my-4 my-text text-light">
        <h5 class="fw-bold mb-3">Contacto</h5>
        <ul class="list-unstyled">
            <li class="mb-3"> <a href="" class="text-light text-decoration-none">Potosi 76655</a> </li>
            <li class="mb-3"> <a href="" class="text-light text-decoration-none">Tel:7777778</a> </li>
            <li class="mb-3"> <a href="" class="text-light ext-decoration-none"></a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-6 my-4 my-text text-light">
        <h5 class="fw-bold mb-3">Informacion</h5>
        <ul class="list-unstyled">
            <li class="mb-3">Redes Sociales</li>
            <li>
                <ul class="list-inline">
                   <li class="list-inline-item me-3"><a href="" class="lead text-light"><i class="fab fa-facebook"></i></a></li>
                   <li class="list-inline-item me-3"><a href="" class="lead text-light"><i class="fab fa-whatsapp"></i></a></li>
                   <li class="list-inline-item me-3"><a href="" class="lead text-light"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
  <div class="border-top text-light">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <small>2021 Tecnologias Emergentes </small>
        </div>
        <div class="col-lg-6 col-md-12">
              <ul class="list-inline text-lg-end">
                  <li class="list-inline-tem">
                    <a href="" class="text-light text-decoration-none"><small>Lorem ipsum dolor sit amet.</small></a>
                  </li>
              </ul>
        </div>
    </div>
</div>

