<div>
    <section >
        <div class="row lead h-100  ">
          <div class="col-lg-6 d-flex" data-aos="fade-right" data-aos-delay="400">
            <div class="content mx-auto align-self-center px-4 my-5">
             <h1 class="display-4 fw-bold mb-3">Muebleria los Angeles</h1>
              <p class="lead mb-5">Ofrecemos las mejores opciones en mueblería para renovar tu hogar, sala de tu casa, tu cuarto, tu cocina.</p>
              <a href="#" class="btn btn-primary mb-5">visita nuestra tienda</a>
            </div>
          </div>
         <div class="col-lg-6 d-flex bg- "data-aos="fade-right" data-aos-delay="400">
          <div class="content mx-auto align-self-center">
            <img src="/assets/images/portada1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
         <div class="position-relative"> 
         <svg style="position: absolute; bottom:0"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
          <path fill="#222725" fill-opacity="1" d="M0,32L26.7,48C53.3,64,107,96,160,138.7C213.3,181,267,235,320,213.3C373.3,192,427,96,480,85.3C533.3,75,587,149,640,181.3C693.3,213,747,203,800,170.7C853.3,139,907,85,960,85.3C1013.3,85,1067,139,1120,138.7C1173.3,139,1227,85,1280,64C1333.3,43,1387,53,1413,58.7L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
        </svg>
         </div>
     
    </section>
       <section class="d-flex py-5 h-100 ">
        <div class="container" data-aos="flip-left"data-aos-easing="ease-out-cubic"  data-aos-duration="2000">
             <div class="info-content bg-section-1 text-dark">
                <div class="row">
                    <div class="col-lg-7 d-flex">
                        <div class="p-5 align-self-center">
                            <h2 class="display-4 fw-bold mb-4">Variedad de muebles</h2>
                               <p class="lead"> Existen muchos tipos de muebles a la hora de equipar tu hogar, ya sea que estés decorando la sala de tu casa, tu cuarto, tu cocina  siempre será necesario que te lleves a casa piezas específicas para cada lugar</p>
                            <a href="" class="btn btn-primary">Ver mas</a>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex">
                        <div class="align-self-center mx-auto p-5">
                          <img src="/assets/images/img5.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>
      <section class="d-flex h-100 py-5 mb-5 bg-light">
            <div class="container align-self-center">  
                 <h2 class="display-4 fw-bold py-4 ">Ultimos Novedades</h2>
                     <div class="row publications">
                       <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
                           <a href="#" class="text-decoration-none">
                             <img src="/assets/images/img1.jpg" alt="" class="img-fluid mb-4">
                             <div class="d-flex mb-4">
                               <p class="flex-grow-1 text-dark fw-bold mb-0">Poltrona frida burdeo</p>
                             </div>
                             <p class="lead text-dark mb-4">Se adapta a cualquier ambiente grasias a sus medidas reducidas. De diseño moderno ideal para complementar</p>
                             </a>
                       </div>
                       <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
                           <a href="#" class="text-decoration-none">
                             <img src="/assets/images/img2.jpg" alt="" class="img-fluid mb-4">
                             <div class="d-flex mb-4">
                               <p class="flex-grow-1 text-dark fw-bold mb-0">Mesa arket burdeo</p>
                             </div> 
                             <p class="lead text-dark mb-4">Mesa de centro con diseño liviano y moderno segun las tendencias sea en el mundo del hogar </p>
                           </a>
                         </div>
                       <div class="col-lg-4 py-4"  data-aos="zoom-in" data-aos-delay="300">
                           <a href="#" class="text-decoration-none">
                             <img src="/assets/images/img11.jpg" alt="" class="img-fluid mb-4">
                             <div class="d-flex mb-4">
                               <p class="flex-grow-1 text-dark fw-bold mb-0">Poltrona luna</p>
                             </div>
                             <p class="lead text-dark  mb-4">Se adapta a cualquier ambiente grasias a sus medidas reducidas. De diseño moderno ideal para complementar</p>
                              </a>
                              </div>
                         </div>
                       </div>
                        </section>
                        <section class="d-flex  text-center  h-100 py-5 mb-5  bg-light">
                          <div class="container align-self-center">  
                               <h2 class="display-4 fw-bold py-4 ">Tipos de muebles para tu hogar</h2>
                                   <div class="row ">
                                     <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
                                         <a href="#" class="text-decoration-none">
                                           <img src="/assets/images/img22.jpg" alt="" class="img-fluid mb-4">
                                           <div class="d-flex mb-4">
                                             <p class="flex-grow-1 text-dark fw-bold mb-0">Cama</p>
                                           </div>
                                          </a>
                                     </div>
                                     <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
                                         <a href="#" class="text-decoration-none">
                                           <img src="/assets/images/img17.jpg" alt="" class="img-fluid mb-4">
                                           <div class="d-flex mb-4">
                                             <p class="flex-grow-1 text-dark fw-bold mb-0"> Estante</p>
                                           </div>
                                         </a>
                                       </div>
                                     <div class="col-lg-4 py-4"  data-aos="zoom-in" data-aos-delay="300">
                                         <a href="#" class="text-decoration-none">
                                           <img src="/assets/images/img18.jpg" alt="" class="img-fluid mb-4">
                                           <div class="d-flex mb-4">
                                             <p class="flex-grow-1 text-dark fw-bold mb-0">Sillon</p>
                                           </div>
                                           
                                            </a>
                                            </div>
                                            <div class="col-lg-4 py-4" data-aos="zoom-in" data-aos-delay="300">
                                              <a href="#" class="text-decoration-none">
                                                <img src="/assets/images/img19.jpg" alt="" class="img-fluid mb-4">
                                                <div class="d-flex mb-4">
                                                  <p class="flex-grow-1 text-dark fw-bold mb-0">Chifonier</p>
                                                </div>
                                               
                                              </a>
                                            </div>
                                            <div class="col-lg-4 py-4" data-aos="flip-right" data-aos-delay="300">
                                              <a href="#" class="text-decoration-none">
                                                <img src="/assets/images/img21.jpg" alt="" class="img-fluid mb-4">
                                                <div class="d-flex mb-4">
                                                  <p class="flex-grow-1 text-dark fw-bold mb-0">Libreria</p>
                                                </div>
                                             </a>
                                            </div>
                                            <div class="col-lg-4 py-4" data-aos="flip-right" data-aos-delay="300">
                                              <a href="#" class="text-decoration-none">
                                                <img src="/assets/images/img27.jpg" alt="" class="img-fluid mb-4">
                                                <div class="d-flex mb-4">
                                                  <p class="flex-grow-1 text-dark fw-bold mb-0">Mesita</p>
                                                </div>
                                              </a>
                                            </div>
                                       </div>
                                     </div>
                                </section>
                                
                              
</div>
