<nav class="navbar navbar-expand-lg navbar-light bg-light  ">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">Muebleria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      
          <li class="nav-item d-flex">
            <a class="nav-link text-dark align-self-center" href="#">Muebles</a>
          </li>
        
        <li class="nav-item d-flex">
          <a class="nav-link text-dark align-self-center" href="#">Servicios</a>
        </li>
    
         <li class="nav-item d-flex">
            <a class="nav-link text-dark align-self-center" href="#">Categorias</a>
         </li>
             <li class="nav-item d-flex">
              <a class="nav-link text-dark align-self-center" href="#">Videos</a>
            </li>
           <li class="nav-item">
                <a class="btn btn-light me-2" href="#">Registrarse</a>
            </li>
           <li class="nav-item">
              <a class="btn btn-primary" routerLink="/auth/login">Iniciar Sesion</a>
           </li>
        </ul>
      </div>
    </div>
  </nav>