
<section>
    <div class="row g-0 h-100">
        <div class="text-center m.auto">
            <main class="form-signin">
                <form method="GET" action="">
                    <img class="mb-4" src="/assets/images/bootstrap-logo.svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Porfavor Identificarse</h1>
            
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo" required>
                        <label for="floatingInput">Correo Electronico</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contrasenia" required>
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <a class="w-100 btn btn-lg btn-primary" routerLink="/dashboard/home" >Iniciar Sesion</a>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
                </form>
            </main>
        </div>
    </div>
    
</section>

