<div class="border-end bg-primary" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="../assets/images/img1.jpg" alt="" class="img-logo-dashboard">
        Muebleria
    </div>
    <div class="list-group list-group-flush ">
        <a class="list-group-item list-group-item-action  p-3 d-flex align-self-center item-link" routerLink="/dashboard/publications/create-publications">
            <i class="fas fa-file-medical fa-lg"></i>
            <span>Crear Publicaciones</span> 
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" >
            <i class="fas fa-file-medical fa-lg"></i>
            <span class="ms-3">Text Editor</span>
          </a>
        <a class="list-group-item list-group-item-action  p-3 d-flex align-self-center item-link" routerLink="/dashboard/publications/list-publications">
            <i class="fas fa-file-medical fa-lg"> </i>
            <span> Ver Publicaciones</span> 
        </a>   
        <a class="list-group-item list-group-item-action  p-3 d-flex align-self-center item-link" href="#!">
            <i class="fas fa-file-medical fa-lg"> </i>
            <span>Categorias</span> 
        </a>   
        <a class="list-group-item list-group-item-action p-3 d-flex align-self-center item-link" href="#!">
            <i class="fas fa-file-medical fa-lg"> </i>
            <span>Perfil de usuarios</span> 
        </a>         
    </div>
</div>
