:root{
    
    --primary:#222725!important;
    --bg-Secondary:#adb5bd;
    --ligth:#fff;
    --bgp1:#f5f3f4 !important;
    --bgp2:#1b263b !important;
    
    
    /*
    f5cb5c
    242423*/
}
body{
     font-family: 'Poppins', sans-serif;
}
.btn-primary{
     background-color: var(--primary) !important;
     border-color:var(--primary);
 }
 .navbar:not(.navbar-dashboard){
     min-height: 90px;
 }
 .navbar .btn{
     padding: .625rem 1.25rem;
 }
 .bg-primary{
     background-color: var(--primary) !important;
 }
 
 .bg-color-p1{
     background-color: var(--bgp1) !important;
 }
 .bg-color-p2{
    background-color: var(--bgp2) !important;
}

 .text-primary{
    color:var(--primary) !important;
}

.bg-section-1{
    background-image:url('/assets/images/blurry-gradient-haikei\ \(15\).svg')
}

section{
    height: 100vh;
}
.content{
    max-width: 80%;
}


.info-content{
    border-radius: 35px;    
}

.info-content .btn{
    padding: .625rem 1.25rem;
}
  

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    section{
        height: unset;
    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 25%;
    }
    
    html, body {
        overflow-x:hidden 
    } 
    .bg-section-1{
        background-image:initial
    }
    
}
@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
    
    .p-container-m {
        padding-top: 150px;
    }

    .content {
        margin-top: 1rem !important;
    }

    .content-img {
        margin-right: inherit !important;
    }
    
    .content h1{
        font-size: 2.5rem !important;
    }

    .content img{
        width: 80%;
    }

    .content .mb-5{
        margin-bottom: 2rem!important;
    }
    
}
/*.........................................................*/
.img-logo-dashboard{
    width: 28px;
    height: 28px;
}
.list-group-item {
    background-color:var(--primary);
    color: var(--ligth);
}
.item-link:hover{
    color:#fff !important;
    background-color: #1b263b !important;
    border-radius: 35px 0px 35px 0px;
}

.navbar-toggler:focus{
    box-shadow: initial !important ;
}