:root{
    
    --primary:#222725!important;
    --bg-Secondary:#adb5bd;
    --ligth:#fff;
    --bgp1:#f5f3f4 !important;
    --bgp2:#1b263b !important;
    
    
    /*
    f5cb5c
    242423*/
}
body{
     font-family: 'Poppins', sans-serif;
}
.btn-primary{
     background-color: var(--primary) !important;
     border-color:var(--primary);
 }
 .navbar:not(.navbar-dashboard){
     min-height: 90px;
 }
 .navbar .btn{
     padding: .625rem 1.25rem;
 }
 .bg-primary{
     background-color: var(--primary) !important;
 }
 
 .bg-color-p1{
     background-color: var(--bgp1) !important;
 }
 .bg-color-p2{
    background-color: var(--bgp2) !important;
}

 .text-primary{
    color:var(--primary) !important;
}

.bg-section-1{
    background-image:url('/assets/images/blurry-gradient-haikei\ \(15\).svg')
}

section{
    height: 100vh;
}
.content{
    max-width: 80%;
}


.info-content{
    border-radius: 35px;    
}

.info-content .btn{
    padding: .625rem 1.25rem;
}
  

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    section{
        height: unset;
    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 25%;
    }
    
    html, body {
        overflow-x:hidden 
    } 
    .bg-section-1{
        background-image:initial
    }
    
}
@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
    
    .p-container-m {
        padding-top: 150px;
    }

    .content {
        margin-top: 1rem !important;
    }

    .content-img {
        margin-right: inherit !important;
    }
    
    .content h1{
        font-size: 2.5rem !important;
    }

    .content img{
        width: 80%;
    }

    .content .mb-5{
        margin-bottom: 2rem!important;
    }
    
}
/*.........................................................*/
.img-logo-dashboard{
    width: 28px;
    height: 28px;
}
.list-group-item {
    background-color:var(--primary);
    color: var(--ligth);
}
.item-link:hover{
    color:#fff !important;
    background-color: #1b263b !important;
    border-radius: 35px 0px 35px 0px;
}

.navbar-toggler:focus{
    box-shadow: initial !important ;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }