
            <div class="row d-flex d-flex justify-content-between">
                <div class="w-25">
                   <h3>Panel de control</h3>
                </div>
               <nav class="w-25 d-flex justify-content-end" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                   <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="#">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Library</li>
                   </ol>
               </nav>
            </div>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card text-center">
                   <div class="card ">
                       <div class="card-header fw-bold mb-4">
                         Muebles de dormitorio
                       </div>
                       <div class="card-body">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/decorar.jpg" alt="">
                         <h5 class="card-title">5 muebles de diseño para decorar el dormitorio</h5>
                         <p class="card-text"> Uno de nuestros consejos para decorar el dormitorio es utilizar muebles de diseño</p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                       </div>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card text-center">
                   <div class="card ">
                       <div class="card-header fw-bold mb-4">
                         Muebles de otoño
                       </div>
                       <div class="card-body">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/tend.jpg" alt="">
                         <h5 class="card-title">Tendencias en decoración otoño – invierno 2021</h5>
                         <p class="card-text">Es momento de hacer el cambio de armario y poner la casa a punto para la nueva estación</p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                       </div>
                     </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card text-center">
                   <div class="card ">
                       <div class="card-header fw-bold mb-4">
                         Muebles de verano
                       </div>
                       <div class="card-body">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/verano.jpg" alt="">
                         <h5 class="card-title">Muebles para evitar el calor en casa este verano</h5>
                         <p class="card-text">Por eso, desde nuestra tienda de muebles en Valencia hoy te traemos unos consejos de decoración </p>
                         <a href="#" class="btn btn-primary ">Go somewhere</a>
                       </div>
                     </div>
                </div>
            </div>
     <div class="p-2 pt-4">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Bienvenida a nuestro blog de muebles  </h1>
        <p class="lead my-3">Descubre la asombrosa marca de muebles de diseño Viccarbe. Una marca especializada en crear muebles de calidad y un diseño único. Conoce sus increíbles piezas y enamórate de cada una de sus colecciones.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
  <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          CATEGORIA BLOG
        </h3>
       <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/dormitorio.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Muebles  para dormitorios </h5>
                <p class="card-text">La decoración minimalista se basa en utilizar el menor número de elementos posibles. Recurrir solo a lo básico y a lo esencial. Es, incluso, un estilo de vida en tu hogar. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/salon-1.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Cómo elegir los colores para el salón</h5>
                <p class="card-text">A la hora de decorar nuestra casa No solo tenemos que fijarnos en el mobiliario, también en los colores principales que vamos a elegir para cada una de las estancias.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/estanterias.jpg" alt="">
  
              <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Estanterías para todo tipo de espacios</h5>
                <p class="card-text">Para sentirnos bien en ella necesitamos espacios limpios, donde predomine la tranquilidad. Como hemos dicho otras veces  nos sentimos en nuestra casa. . </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/otono.jpg" alt="">
               <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Ideas para la decoración de otoño </h5>
                <p class="card-text">Ya llevamos algunas semanas en otoño y vamos notando cómo los días cada vez se hacen más cortos.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/como.jpg" alt="">
               <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Todo para tu negocio de hostelería</h5>
                <p class="card-text">Elegir el mobiliario de hostelería es uno de los puntos de mayor preocupación a la hora de acondicionar </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/assets/images/bloh.jpg" alt="">
               <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Cómo decorar tu casa en Navidad</h5>
                <p class="card-text">Cuando se acercan las navidades empezamos a pensar en cómo cambiar y decorar nuestro hogar con toda la facilidad.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/MUEBLES GENIALES QUE SE TRANSFORMAN Y AHORRAN ESPACIO EN LA CASA.mp4" type="video/mp4">
              </video>
               <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Muebles de Transformes</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/SALAS MODERNAS 2021_ Tendencias en DECORACIÓN DE INTERIORES.mp4" type="video/mp4">
              </video>
               <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Salas modernas 2021 tendencias</h5>
             </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/y2mate.com - BIG LOTS FURNITURE SOFAS COUCHES ARMCHAIRS HOME DECOR  SHOP WITH ME SHOPPING STORE WALK THROUGH 4K_480p.mp4" type="video/mp4">
              </video>
              <div class="card-body">
                <h5 class="card-title fw-bold mb-3">Todo tipo de muebles </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Concejos</h4>
            <p class="mb-0">Si te gusta la decoración, los muebles y todo lo relacionado con el diseño de interiores este es tu espacio, el Blog de Muebles</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">CATEGORIAS</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Dormitorios</a></li>
              <li><a href="#">Armarios</a></li>
              <li><a href="#">Salones modernos</a></li>
              <li><a href="#">Sofas</a></li>
              <li><a href="#">Muebles de tv</a></li>
              <li><a href="#">Sofas deslizantes</a></li>
              <li><a href="#">Sillones y butabas</a></li>
              <li><a href="#">Modernos</a></li>
              <li><a href="#">Mesas de centro</a></li>
              <li><a href="#">Estanterías</a></li>
              <li><a href="#">Dormitorios de matrimonio</a></li>
              <li><a href="#">Aparadores</a></li>
            </ol>
          </div>
           <div class="p-4">
            <h4 class="fst-italic">SIGUENOS</h4>
            <ol class="list-unstyled">
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
   </div>


